.covid {
    border-radius: 2.4rem;
    background: #211F54;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-right: 7.4rem;
    gap: 7.2rem;
    overflow: hidden;
    margin: 10rem 0;
}

.covid-img-side>img {
    width: 100%;
}

.covid-right-side {
    width: 55.6rem;
}

.subTitle {
    color: #FFF;
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0.16rem;
    text-transform: uppercase;
}

.title {
    color: #FFF;
    font-family: Roboto;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.7984rem;
    margin: 1.8rem 0;
}

.text {
    width: 47.4rem;
    color: #FFF;
    font-family: Roboto;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.0006rem;
    margin-bottom: 1.2rem;
}


.bottom {
    display: flex;
    align-items: center;
    gap: 2.8rem;
}

.phoneBox {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.phoneText {
    display: flex;
    flex-direction: column;
}

.callUs {
    color: #FFF;
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0.16rem;
    text-transform: uppercase;
}

.telNumber {
    color: #FFF;
    font-family: Roboto;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6008rem;
}