/*====== FONT ======*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* font-family: 'Inter', sans-serif; */
/*====== ROOT ======*/
:root {
  --text-color: #2c2c2c;
  --card-bg-color: #fafbfd;
  --hover-color: #8fd8ac;
}

/* ======= BASIC STYLE  =========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-family: "Plumb";
  font-size: 62.5%;
  /* font size 10px */
}
/* ======= BASIC STYLE  =========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-family: "Plumb";
  font-size: 62.5%;
  /* font size 10px */
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
/* ======= HEADER STYLE  =========*/

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* ======= HEADER STYLE  =========*/

/* ======= NAV STYLE  =========*/
.container {
  max-width: 130rem;
  margin: 0 auto;
}
